@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --color-general-bg: 255 255 255; /* rgb(255 255 255) */
  --color-primary-500: 0 226 187; /* rgb(0 226 187) */
  --color-primary-400: 0 230 112; /* rgb(0 230 112) */
  --color-primary-300: 195 234 95; /* rgb(195 234 95) */
  --color-primary-200: 255 235 137; /* rgb(255 235 137) */
  --color-primary-100: 255 234 186; /* rgb(255 234 186) */
  --color-secondary-400: 55 65 81; /* rgb(55 65 81) */
  --color-secondary-300: 107 114 128; /* rgb(107 114 128) */
  --color-secondary-200: 170 176 187; /* rgb(170 176 187) */
  --color-secondary-100: 209 213 218; /* rgb(209 213 218) */
  --color-secondary-0: 255 255 255; /* rgb(255 255 255) */
  --color-error: 244 67 53; /* rgb(244 67 53) */
}

html, #__next {
  @apply h-full;
}

body {
  @apply pt-[64px] h-full;
}

body {
  background-image: url("/img/main-bg.svg");
  @apply bg-no-repeat bg-top bg-cover theme-light w-screen text-secondary-400;
}
